[Unit]
Description=run check-hdfs-space and send to zabbix

[Timer]
OnCalendar=*:0/15
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target